*{
    background: rgb(240, 233, 194);
}

.homeHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 70px;
    text-align: center;
}
.homeText{
    text-align: center;
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}